@import "mocha.css";

* {
	all: unset;
	font-family: "JetBrainsMono Nerd Font";
  	font-size: 13px;
	font-weight: bold;
  	padding: 0;
  	margin: 0;
  	border: none;
}

/*---WAYBAR---*/
#waybar {
}

/*---WORKSPACES---*/
#workspaces {
	background: transparent;
  	border-radius: 0.75rem;
  	padding: 0rem 0.5rem;
  	border: 2px solid @text;
}
#workspaces button {
  	background: transparent;
  	color: @blue;
  	border: none;
  	margin: 0 0.5rem;
}
#workspaces label               { font-size: 16px;  }
#workspaces button:nth-child(1) { color: @blue;		}
#workspaces button:nth-child(2) { color: @red;      }
#workspaces button:nth-child(3) { color: @peach;    }
#workspaces button:nth-child(4) { color: @sky;      }
#workspaces button:nth-child(5) { color: @pink;     }
#workspaces button:nth-child(6) { color: @green;    }
#workspaces button.active       { color: @yellow;   }
#workspaces button.empty        { color: @overlay0; }
#workspaces button:hover {
  	box-shadow: inherit;
  	text-shadow: inherit;
}

/*---DEFAULT---*/
#custom-logo,
#user,
#memory,
#cpu,
#idle_inhibitor,
#custom-music,
#language,
#wireplumber,
#network,
#bluetooth,
#backlight,
#battery,
#clock,
#power {
	background: transparent;
  	border-radius: 0.75rem;
 	padding: 0.25rem 0.75rem;
}

/*---LOGO---*/
#custom-logo {
 	padding: 0 1rem 0 0.65rem;
	font-size: 18px;
	color: @lavender;
  	border: 2px solid @lavender;
}

/*---USER(UPTIME)---*/
#user {
 	color: @teal;
  	border: 2px solid @teal;
}

/*---RAM---*/
#memory {
 	color: @flamingo;
  	border: 2px solid @flamingo; 	
}

/*---CPU---*/
#cpu {
 	color: @maroon;
  	border: 2px solid @maroon; 	
}

/*---IDLE---*/
#idle_inhibitor {
 	color: @mauve;
  	border: 2px solid @mauve; 	
}

/*---MUSIC---*/
#custom-music {
	color: @red;
  	border: 2px solid @red; 	
}

/*---KEYBOARD-LANG---*/
#language {
	color: @sapphire;
  	border: 2px solid @sapphire; 	
}

/*---VOLUME---*/
#wireplumber {
	color: @peach;
  	border: 2px solid @peach; 	
}

/*---NETWORK---*/
#network {
	color: @lavender;
  	border: 2px solid @lavender;
  	padding-left: 0.7rem; 	
	padding-right: 1rem;
}

/*---BLUETOOTH---*/
#bluetooth {
	color: @blue;
  	border: 2px solid @blue; 	
}

/*---BACKLIGHT---*/
#backlight {
    padding-left: 0.5rem ;
    padding-right: 0.75rem ;
  	color: @yellow;
  	border: 2px solid @yellow; 
}

/*---BATTERY---*/
#battery {
	color: @green;
  	border: 2px solid @green; 	
}
#battery.charging {
  	color: @teal;
  	border: 2px solid @teal; 	
}
#battery.warning:not(.charging) {
  	color: @peach;
  	border: 2px solid @peach; 	
}
#battery.critical:not(.charging) {
  	color: @red;
  	border: 2px solid @red; 	
}

/*---CLOCK&DATE---*/
#clock {
}
#clock.time {
  	color: @sky;
  	border: 2px solid @sky; 	
}
#clock.date {
  	color: @mauve;
  	border: 2px solid @mauve; 	
}

/*---POWER---*/
#power {
	padding-left: 0.1rem;
	padding-right: 0.4rem;
  	border: 2px solid @text; 	
}
#custom-settings {
	font-size: 15px;
	padding: 0 0.5rem;
	font-weight: bolder;
}
#custom-lock, 
#custom-suspend, 
#custom-logout, 
#custom-reboot,
#custom-power{
	font-size: 16px;
	padding: 0 0.6rem;
}
#custom-settings {
	color: @text;
}
#custom-lock {
	padding: 0 0.6rem 0 0.75rem;
    color: @lavender;
}
/*#custom-suspend {
	color: @peach;
}*/
#custom-logout {
	color: @yellow;
}
#custom-reboot {
	color: @green;
}
#custom-power {
    color: @red;
}
#custom-settings:hover, 
#custom-lock:hover,
#custom-suspend:hover, 
#custom-logout:hover,
#custom-reboot:hover, 
#custom-power:hover {
	color: @text;
}

/*---TOOLTIPS---*/
tooltip {
	background: @surface0;
}
