@import "colors.css";

* {
	font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
	font-weight: bold;
  padding: 0;
  margin: 0;
  border: none;
}

/*---WAYBAR---*/
#waybar {
	background: @mantle;
	border: 1px solid gray;
}

/*---WORKSPACES---*/
#workspaces {
	background: transparent;
}
#workspaces button {
  	border: none;
  	padding: 0 0.4rem;
}
#workspaces label               { font-size: 14px;  }
#workspaces button:nth-child(1) { color: @blue;		}
#workspaces button:nth-child(2) { color: @red;      }
#workspaces button:nth-child(3) { color: @peach;    }
#workspaces button:nth-child(4) { color: @sky;      }
#workspaces button:nth-child(5) { color: @pink;     }
#workspaces button:nth-child(6) { color: @green;    }
#workspaces button.active       { color: @yellow;   }
#workspaces button.empty        { color: @text; }
#workspaces button:hover {
  	box-shadow: inherit;
  	text-shadow: inherit;
}

/*---DEFAULT---*/
#custom-logo,
#user,
#memory,
#cpu,
#idle_inhibitor,
#custom-music,
#language,
#wireplumber,
#network,
#bluetooth,
#backlight,
#battery,
#clock {
	background: transparent;
 	padding: 0.5rem;
}

/*---LOGO---*/
#custom-logo {
 	padding: 0 1rem;
	font-size: 16px;
	color: @blue;
}

/*---USER(UPTIME)---*/
#user {
  color: @rosewater;
}

/*---RAM---*/
#memory {
  color: @flamingo;
}

/*---CPU---*/
#cpu {
  color: @pink;
}

/*---IDLE---*/
#idle_inhibitor {
 	color: @mauve;
}

/*---MUSIC---*/
#custom-music {
 	color: @red;
}

/*---KEYBOARD-LANG---*/
#language {
 	color: @maroon;
}

/*---VOLUME---*/
#wireplumber {
 	color: @peach;
}

/*---NETWORK---*/
#network {
 	color: @text;
}

/*---BLUETOOTH---*/
#bluetooth {
 	color: @blue;
}

/*---BACKLIGHT---*/
#backlight {
 	color: @yellow;
}

/*---BATTERY---*/
#battery {
 	color: @green;
}
#battery.charging {
  	color: @teal;
}
#battery.warning:not(.charging) {
  	color: @peach;
}
#battery.critical:not(.charging) {
  	color: @red;
}

/*---CLOCK&DATE---*/
#clock.time {
 	color: @lavender;
}
#clock.date {
 	color: @mauve;
}

